.footer{
    height: 50px;
    width: 100%;
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: center;
}
.footerItemContainer{
    display: flex;
    height: 50px;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}
.footerItemContainer h5{
    font-weight: 400;
}